{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-4">
    <div class="col-sm-6">
        <h2>{{ post.title }}</h2>
        <p>{{ post.text }}</p>
        <p> {{ post.created_date }}</p>
        <p id="likesCount">Лайки: {{ likes }}</p>
        {% if post.profile %}
        <p>Автор: {{ post.profile.user.username }}</p>
        {% endif %}

        {% if post.image %}
        <br><img src="{{ post.image.url }}" style="width:50%">
        {% endif %}

        {% if request.user.is_authenticated %}

        {% if post.profile %}
        <form action="{% url 'subscribe' post.profile.id %}">
            <input type="hidden" name="next" value="{{ request.path }}">
            {% if not sub %}
            <br><button class="btn btn-primary mt-2" role="button">Подписаться</button>
            {% else %}
            <br><button class="btn btn-primary mt-2" role="button">отписаться</button>
            {% endif %}
        </form>
        {% endif %}

        <br>
        <a id="likeButton" href="{% url 'post_like' post.id %}" {% if like.is_liked %} style="display:none" {% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                viewBox="0 0 16 16">
                <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
            </svg>
        </a>

        <a id="unlikeButton" role="button" href="{% url 'post_unlike' post.id %}" {% if not like.is_liked %}
            style="display:none" {% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
            </svg>
        </a>

        {% endif %}

        {% if request.user.is_authenticated %}
        <br><b>Добавить комменатрий</b>
        <form method="post" id='commentForm' enctype="multipart/form-data" action="{% url 'post_detail' post.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <p id="errors"></p>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
        {% endif %}


        <b>Комментарии ({{ comments }})</b>

        <div id="comments">
            {% for comment in post.post_comments.all %}
            <p> {{ comment.title }} ({{ comment.profile.user.username }})

                {% if request.user.profile == comment.profile %}
                <a href="{% url 'comment_delete' post.id comment.id %}">Удалить</a>

                {% endif %}
            </p>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}