{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-4">
    <div class="col-sm-6">
        <h2>{{ post.title }}</h2>
        <p>{{ post.text }}</p>
        <p> {{ post.created_date }}</p>

        {% if post.image %}
        <br><img src="{{ post.image.url }}" style="width:50%">
        {% endif %}

        {% if request.user.is_authenticated %}

        {% if not like.is_liked %}
        <br><a class="btn btn-primary mt-2" role="button" href="{% url 'post_like' post.id %}">Лайк</a>
        {% else %}
        <br><a class="btn btn-primary mt-2" role="button" href="{% url 'post_like' post.id %}">Снять лайк</a>
        {% endif %}

        {% endif %}

        <br><b>Добавить комменатрий</b>
        <form method="post" enctype="multipart/form-data" action="{% url 'post_detail' post.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>

        <b>Комментарии</b>

        {% for comment in post.post_comments.all %}
        <p> {{ comment.title }}</p>
        {% endfor %}

    </div>
</div>

{% endblock %}
